body {
  font-family: "Maven Pro", sans-serif;
  position: relative;
  background: #ffffff;
  margin: 0;
}

.partie1 p {
  position: absolute;
  width: 50%;
  bottom: 5%;
  left: 25%;
  right: 0;
  font-weight: 600;
  font-size: 3.5vw;
  line-height: 70px;
  text-align: center;
  color: #ffffff;
  backdrop-filter: blur(2px);
}
.partie1 img {
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.partie1 {
  position: relative;
}

.partie2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  margin-top: 8%;
}
.image2 {
  width: 35%;
  height: auto;
  margin-left: 5%;
}
.colonne1 {
  justify-content: center;
  column-gap: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paragraphe2 {
  padding-left: 10%;
  padding-right: 10%;
  font-weight: 400;
  font-size: 2.8vw;
  line-height: 49px;
  text-align: center;
  color: #000000;
}
.button1 {
  width: 200px;
  height: auto;
  padding: 14px;
  background: #3358ea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border-style: none;
  font-family: "Maven Pro";
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #ffffff;
}
.partie3 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 15%;
  margin-top: 8%;
}
.colonne2 {
  justify-content: center;
  column-gap: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image3 {
  width: 35%;
  height: auto;
}

.button2 {
  width: 200px;
  height: auto;
  padding: 14px;
  background: #3358ea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border-style: none;
  font-family: "Maven Pro";
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #ffffff;
}
.paragraphe3 {
  font-weight: 400;
  font-size: 2.8vw;
  line-height: 49px;
  text-align: center;
  color: #000000;
}
@media all and (max-width: 830px) {
  .partie3 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15%;
    margin-top: 15%;
  }
  .partie2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15%;
    margin-top: 15%;
  }

  .paragraphe2 {
    font-size: 4vw;
  }
  .paragraphe3 {
    font-size: 4vw;
  }
  .button1 {
    width: 30%;
  }
  .button2 {
    width: 62%;
  }
  .image3 {
    width: 70%;
  }
  .image2 {
    width: 62%;
  }
}
button {
  transition: box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
button:hover {
  background-color: aliceblue;
  color: #3358ea;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
