body{
  display: flex;
  justify-content:center;
  flex-direction: columns;
  align-items: center;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}
form {
  margin-top: 20px;
  background-color: #fff;
  padding: 40px 60px;
  border-radius: 10px;
  min-width: 300px;
}
form h1{
  color: #0000;
  text-align:center;
}
form .inputs {
  display: flex;
  flex-direction: column;
}
form .inputs input[type='email'], input[type='password']{
  padding: 15px;
  border:none;
  border-radius: 5px;
  background-color:#0000;
  outline-style:solid;
  outline-color: #00318c;
  outline-width: 2px;
  margin-bottom: 15px;
}
form p.inscription{
  font-size: 14px;
  margin-bottom: 20px;
  color: #878787;
}
form p.inscription span{
  color: #00318c;
}
form button{
  padding: 15px 25px;
  border-radius: 15px;
  border:none;
  font-size: 15px;
  color: #fff;
  background-color: #00318c;
  outline:none;
  cursor:pointer;
}
form p.forgot span{
  color: #00318c;
}
form .Logop {
    margin: 1rem;
    text-align: left;
  }
form .Logoc {
    display: inline-block;
    vertical-align: middle;
}
#row-rev {
  display: flex;
    flex-direction: column;
  }
.mainBox {
  height: 100vh;
  width: 50%;
    background-color: white;
    align-self: auto;
    flex: none;
}
.boxBlue {
    background: linear-gradient(blue, darkblue);
    width: 50%;
    align-self: auto;
    height: 100vh;
    background-image: url("Rond\ multi\ connexion.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50% 20%;
    align-items: flex-end;
    display: flex;
    justify-content: center;
}
.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .slogan {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
  }