
*{
    margin: 10px;
    padding: 0px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1em;
    background-color: #F4F4FC;
}

em {
    color: #7E7E7E;
    font-style: normal;
}

h1 {
    font-size: 3.5em;
    color: #7E7E7E;
    font-family: 'Maven Pro', sans-serif;
}

div{
    text-align: center;
    position: sticky;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
    box-shadow: #ff0000;
}

nav ul li{
    float: left;
    width: 95%;
    text-align: left;
    position: sticky;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: #F4F4FC;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

/*nav a:hover{
    color: #3358EA;
    border-bottom: 2px solid #3358EA;
}*/

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
/*.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}*/

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}