body {
  font-family: "Maven Pro", sans-serif;
  box-sizing: border-box;
  margin: 0;
  animation: 3s linear 0.1s colorIt;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background: #ffffff;
  box-shadow: 0px 4px 36px -5px rgba(51, 88, 234, 0.15);
}
.inscripConnexion2{
  display: none;
  
}
.header-right {
  display: flex;
  justify-self: flex-end;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.nav {
  color: #7e7e7e;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 13px;
  line-height: 25px;
  border-radius: 4px;
}

.nav:hover {
  color: #3358ea;
}
.inscripConnexion2:hover{
  color:#3358ea;
}
.button {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 32px;
  background: #3358ea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 13px;
  transition: box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: aliceblue;
  color: #3358ea;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.buttonPlace {
  margin-left: 50px;
}

.header a.logo {
  font-size: 23px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  color: black;
  margin-left: 1%;
}

.logoImg {
  margin-right: 10px;
  object-fit: contain;
}
.menuderoulant, #toggle {
    display: none;
}

@media screen and (max-width: 1000px) {
  .logo{
    order: 2;
  }
  .inscripConnexion2{
    display: flex;
    text-decoration: none;
    color:#7e7e7e;
    padding: 12px;
    gap: 25px;
  }
  .navbar{
    display: flex;
    flex-direction: column;
    position: fixed;
    left:-100%;
    top: 75px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    width: 40%;
    height: 50%;
    gap: 25px;
    transition: left 0.5s ease-in-out;
  }
  .menuderoulant{
    display: block;
    font-size: 35px;
  }
  .header-right{
    display: none;
  }
  #toggle:checked ~ .navbar {
    left: 0;
  }
  .navbar a{
    font-size: 110%;
  }
  .menuderoulant:hover{
    color: #3358ea;
  }
}
