<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FAQ BeCareful</title>
    <link href="../../Style/FAQ.css" rel="stylesheet" />
  </head>

  <body>
    <div class="center">
      <h1>FAQ</h1>
    </div>

    <br /><br />
    <h2>Questions fréquemment posées <br /><br /><br /></h2>
    <nav>
      <ul>
        <li class="deroulant">
          Quel type de chargeur est nécessaire ? &ensp;
          <ul class="sous">
            <li>Un chargeur usb android est requis</li>
          </ul>
        </li>
      </ul>

      <ul>
        <li class="deroulant">
          Notre produit est il résistant aux chocs ? &ensp;
          <ul class="sous">
            <li>
              Afin d'assurer que les enfants portant notre montre puisse la garder le plus
              longtemps possible, notre montre a été fabriquée dans des matériaux la
              préservant le plus longtemps possible. Ces matériaux sont également
              éco-responsables
            </li>
          </ul>
        </li>
      </ul>

      <ul>
        <li class="deroulant">
          Comment cela se passe en cas de perte de la montre ? &ensp;
          <ul class="sous">
            <li>
              Après nous avoir contacté, nous vous mettrons rapidement un nouvel appareil
              à disposition
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <h2>Vous avez une question spécifique à nous poser ? <br /></h2>
  </body>

  <footer></footer>
</html>
