
<!DOCTYPE html>
<html lang="fr">
  <header> </header>


  <head>
    <meta charset="utf-8">
    <div class="center"></div>
    <title>FAQ BeCareful</title>
    <link href="FAQ.css" rel="stylesheet">
  </head>
  
  <body>
    <div class="center">
      <h1> FAQ </h1>
    </div>

    <BR><BR>
    <div>
    <h2> Questions fréquemment posées </h2>
    <BR>
    
    <nav>
        <ul>
            <li class="deroulant"> Quel type de chargeur est nécessaire pour recharger l'appareil ?
                <ul class="sous">
                    <li> Un chargeur usb android est requis </li>
                </ul>
            </li>
        </ul>
      
        <BR>
        <ul>
            <li class="deroulant"> Notre produit est il résistant aux chocs ?
                <ul class="sous">
                    <li> Afin d'assurer que les enfants portant notre montre puisse la garder le plus longtemps possible, notre montre a été fabriquée dans des matériaux la préservant le plus longtemps possible. Ces matériaux sont également éco-responsables </li>
                </ul>
            </li>
        </ul>
      
        <BR>
        <ul>
            <li class="deroulant"> Comment cela se passe en cas de perte de la montre ?
                <ul class="sous">
                    <li> Après nous avoir contacté, nous vous mettrons rapidement un nouvel appareil à disposition </li>
                </ul>
            </li>
        </ul>
    <BR>
    </nav>
    </div>

    <div>
    <form method="get" action="">
    <h2>
        <label for="question"> Vous avez une question spécifique à nous poser ? </label><BR>
        <textarea name="question" placeholder="Votre question" id="question"></textarea>
    </h2>
    </form>
    <button><input type="submit" value="Envoyer"></button>
    </div>
  </body>


  <footer></footer>
</html>
