
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <div class="center"></div>
    <title>FAQ BeCareful</title>
    <link href="../../Style/FAQ.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../Style/Header.css" />
    <link rel="stylesheet" type="text/css" href="../../Style/Footer.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Nunito:wght@500&display=swap");
    </style>
  </head>
  <body>
    <header>
      <div class="header">
        <a href="Page_Accueil.html" class="logo">
          <img src="../../img/Logo-becareful.png" alt="Logo" class="logoImg" />
          BeCareful
        </a>
        <div class="navbar">
          <a href="Page_Accueil.html" class="nav">Accueil</a>
          <a href="Notre_Produit.html" class="nav">Notre Produit</a>
          <a href="APropos.html" class="nav">À Propos</a>
          <a href="" class="nav">Nous Contacter</a>
        </div>
        <div class="header-right">
          <a href="Inscription.html" class="nav">S'Inscrire</a>
          <div class="buttonPlace">
            <a href="Connexion.html" class="button">Se Connecter</a>
          </div>
        </div>
      </div>
    </header>
    <div class="center">
      <h1> FAQ </h1>
    </div>
    <br /><br />
    <h2>Questions fréquemment posées <br /><br /><br /></h2>
    <nav>
      <ul>
        <li class="deroulant">
          Quel type de chargeur est nécessaire ? &ensp;
          <ul class="sous">
            <li>Un chargeur usb android est requis</li>
          </ul>
        </li>
      </ul>

      <ul>
        <li class="deroulant">
          Notre produit est il résistant aux chocs ? &ensp;
          <ul class="sous">
            <li>
              Afin d'assurer que les enfants portant notre montre puisse la garder le plus
              longtemps possible, notre montre a été fabriquée dans des matériaux la
              préservant le plus longtemps possible. Ces matériaux sont également
              éco-responsables
            </li>
        </ul>
      
        <BR>
        <ul>
            <li class="deroulant"> Comment cela se passe en cas de perte de la montre ?
                <ul class="sous">
                    <li> Après nous avoir contacté, nous vous mettrons rapidement un nouvel appareil à disposition </li>
                </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    </div>

    <div>
    <form method="get" action="">
    <h2>
        <label for="question"> Vous avez une question spécifique à nous poser ? </label><BR>
        <textarea name="question" placeholder="Votre question" id="question"></textarea>
    </h2>
    </form>
    <button><input type="submit" value="Envoyer"></button>
    </div>
  </body>
  <footer>
    <div class="footer">
      <div class="listFooter">
        <ul>
          <li>BeCareful</li>
          <li>Qui sommes-nous ?</li>
          <li>Adresse : 10 Rue de Vanves,92130, Issy-les-Moulineaux</li>
          <li>Horaires : Du lundi au samedi de 9h à 18h</li>
          <li>Notre Produit</li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="title">Aide</li>
          <li>FAQ</li>
          <li>Questions fréquents</li>
          <li>© BeCareful 2023</li>
        </ul>
      </div>
      <div>
        <h3></h3>
        <ul>
          <li class="title">Conditions D'utilisations</li>
          <li>Conditions générales</li>
          <li>Politique de confidentialité</li>
          <li>CGU</li>
        </ul>
      </div>
    </div>
  </footer>
</html>
