<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Footer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../Style/Footer.css" />  
  </head>
  <body>
  </body>
  <footer>
    <div class="footer">
      <div class="listFooter" >
        <ul>
          <li >BeCareful</li>  
          <li>Qui sommes-nous ?</li>
          </li>
          <li>
            Adresse : 10 Rue de Vanves,92130, Issy-les-Moulineaux 
            </li>
          <li>Horaires : Du lundi au samedi de 9h à 18h </li>
          <li>Notre Produit</li>
        </ul>
      </div>
      <div>
        <ul>
            <li class="title">Aide</li>
            <li>FAQ</li>
            <li>Questions fréquents</li>
            <li>© BeCareful 2023</li>
        </ul>
        </div>
        <div>
            <h3></h3>
            <ul>
                <li class="title">Conditions D'utilisations</li>
                <li>Conditions générales</li>
                <li>Politique de confidentialité</li>
                <li>CGU</li>
        </div>
    </div>
  </footer>
</html>
