<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Footer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../Style/Footer.css" />
  </head>
  <body></body>
  <footer>
    <div class="footer">
      <div class="listFooter">
        <div class="BeCareful">
          <p class="title">BeCareful</p>
          <a class="link" href="APropos.html"><p>Qui sommes-nous ?</p></a>
          <p>Adresse : 10 Rue de Vanves,92130, Issy-les-Moupneaux</p>
          <p>Horaires : Du lundi au samedi de 9h à 18h</p>
          <a class="link" href="Notre_Produit.html"><p>Notre Produit</p></a>
        </div>
      </div>
      <div>
        <div class="BeCareful">
          <p class="title">Aide</p>
          <a class="link" href="FAQ.php"><p>FAQ</p></a>

          <p>© BeCareful 2023</p>
        </div>
      </div>
      <div class="BeCareful">
        <h3></h3>
        <div>
          <p class="title">Conditions D'utilisations</p>
          <p>Conditions générales</p>
          <p>Poptique de confidentialité</p>
          <p>CGU</p>
        </div>
      </div>
    </div>
  </footer>
</html>
