<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../Style/Header.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Nunito:wght@500&display=swap");
    </style>
  </head>
  <header>
    <div class="header">
      <div class="logo">
        <a href="Page_Accueil.html" class="logo">
          <img src="../../img/Logo-becareful.png" alt="Logo" class="logoImg" />
          BeCareful
        </a>
      </div>
      <label for="toggle" class="menuderoulant">☰</label>
      <input type="checkbox" id="toggle">
      <div class="navbar">
        <a href="Page_Accueil.html" class="nav">Accueil</a>
        <a href="Notre_Produit.html" class="nav">Notre Produit</a>
        <a href="APropos.html" class="nav">À Propos</a>
        <a href="ContactezNous.html" class="nav">Nous Contacter</a>
        <a href="Inscription.html" class="inscripConnexion2">S'Inscrire</a>
        <a href="Connexion.html" class="inscripConnexion2">Se Connecter</a>
      </div>
      <div class="header-right">
        <a href="Inscription.html" class="nav">S'Inscrire</a>
        <div class="buttonPlace">
          <a href="Connexion.html" class="button">Se Connecter</a>
        </div>
      </div>
    </div>
  </header>
  <body></body>
</html>
