<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../Style/Header.css" />
  </head>
  <header>
    <div class="header">
      <a href="#default" class="logo">BeCareful </a>
      <div class="navbar">
        <a href="#accueil" class="nav">Accueil</a>
        <a href="#home" class="nav">Notre Produit</a>
        <a href="#apropos" class="nav">À Propos</a>
        <a href="#contact" class="nav">Nous Contacter</a>
      </div>
      <div class="header-right">
        <a href="#home" class="nav">S'Inscrire</a>
        <div class="buttonPlace">
          <a href="#contact" class="button">Se Connecter</a>
        </div>
      </div>
    </div>
  </header>
  <body></body>
</html>
