<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Notre produit</title>
    <link rel="stylesheet" type="text/css" href="../../Style/Produit.css" />
  </head>
  <body>
    <header></header>
    <main>
      <div class="container">
        <div class="bulles">
          <div class="bubble">
            <h2>Capteur cardiaque</h2>
            <img src="../../img/image16.png" alt="coeur icone" class="coeur" />
            <p>
              Ce capteur permet de mesurer en temps réel les battements par minutes, du
              coeur de votre enfant. Grâce à cela, nous pouvons nous assurer du
              <span class="vert">bien-être</span> de votre enfant, en vous donnant des
              conseils adaptés pour qu'il s'épanouisse pleinement.
            </p>
          </div>
          <div class="bubble">
            <h2>Capteur audio</h2>
            <img src="../../img/image15.png" alt="casque icone" class="casque" />
            <p>
              Grâce à lui, nous pouvons monitorer à long terme la
              <span class="rouge">santé</span> de l'audition de enfant, ainsi que son
              <span class="vert">bien-être</span> . Dans le cas ou votre enfant est sujet
              à des bruits trop élevés au cours de la journée, pouvant endommager son
              audition. Nous vous avertirons de cela et vous expliquerons en détails les
              périodes de la journée susceptible d'atteindre à sa
              <span class="rouge">santé</span>
            </p>
          </div>
          <div class="bubble">
            <h2>Capteur CO2</h2>
            <img src="../../img/image2.png" alt="nuage CO2" class="nuage" />
            <p>
              Il nous permet de vérifier le taux de Co2 présent dans l'air que respire
              votre enfant. Il vous sera beaucoup plus aisé de protéger la
              <span class="rouge">santé</span> de votre enfant de la pollution de l'air
              présente dans les villes. Vous pourrez également connaître les moments de la
              journée pendant lesquelles votre enfant est le plus à risque.
            </p>
          </div>
          <div class="bubble">
            <img src="../../img/image4.png" alt="thermomètre" class="thermomètre" />
            <h2>Capteur température et humidité</h2>
            <p>
              Grâce à ce capteur, ils vous sera plus simpe de vous assurer, que votre
              enfant porte une tenue adaptée pour sa <span class="rouge">santé</span>.
              Ainsi que de prendre connaissance des périodes de l'année pendant lesquelles
              le <span class="vert">bien-être</span> de votre enfant peut être compromis.
            </p>
          </div>
        </div>
        <div class="produit-image-container">
          <img src="../../img/image1.png" alt="Montre Healfy" class="produit-image" />
          <h2 class="produit-titre">Montre Healfy</h2>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
